<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean abstract="true" id="user"></bean>

	<bean id="huang" class="com.spring.huang.service.HuangServiceImpl" parent="user"></bean>
</beans>